<article class="article">
	<figure>
		<%= image_tag article.imagen.url %>

	</figure>
	<a href="/articles/<%= article.id%>">
		<h3><%= article.name%></h3>
		<p><%= article.description%></p>
	</a>

	<% article.categories.each do |category| %>

	<span class="data-category">
		<%= link_to category.name, category_path(category), style: "color: #{category.color}"%>
	</span>

	<%end%>
	<span class="data-price">
		<b>Precio</b>
		<span class="price">$<%= article.price%></span>
	</span>
</article>
