<%=form_for(@article) do |f|%>




<ul>
	<% @article.errors.full_messages.each do |msg|%>
	<li class="errors"><%= msg %></li>
	<%end%>
</ul>




<div class="field">
	<%= f.text_field :name, placeholder:"Nombre del Articulo", class: "form-control" %>
</div>
<div class="field">
	<%= f.text_area :description, placeholder:"Descripción del Articulo", class: "form-control" %>
</div>
<div class="field">
	<%= f.number_field :price, placeholder:"Precio del Articulo", class: "form-control" %>
</div>
<div class="field">
	<%= f.file_field :imagen %>
</div>



<div class="field">
	<% Category.all.each do |c| %>
	<div class="checkboxes">
		<label>
			<%= check_box_tag "article[category_ids][#{c.id}]",
			nil,
			@article.categories.member?( c ) %>
			<%= c.name%>
		</label>
	</div>
	<%end%>

</div>



<div class="field">
	<%= f.submit "Guardar", class: "btn btn-success"%>
</div>

<% end %>
