<section class="title">
	<h2>
		Lista de articulos
		<% if user_signed_in?%>
		<%= link_to "+", new_article_path, class: "btn btn-success" %>
		<% end %>
	</h2>
	<p id="notice"><%#= notice %></p>
</section>

<section class="col-md-12">

	<% @articles.each do |article| %>
	<%= render "article", article: article %>
	<%end %>
</section>
