
<article class="article-details">
	<div class="article-image">
		<%= image_tag @article.imagen.url %>
	</div>
	<div class="article-data">
		<div class="data-info">
			<h3>Nombre:</h3>
			<span><%= @article.name %></span>
		</div>
		<div class="data-info">
			<h3>Descripción:</h3>
			<span><%= @article.description %></span>
		</div>
		<div class="data-info">
			<h3>Categorias:</h3>

			<% @article.categories.each do |category| %>

			<span><%= category.name%></span>

			<%end%>

		</div>
		<div class="data-info">
			<h3>Precio:</h3>
			<span>$<%= @article.price %></span>
		</div>



		<% unless @article.user.nil? %>

		<div class="data-info">
			<h3>Usuario:</h3>
			<span><%= @article.user.email %></span>
		</div>
		<%end%>
		<div class="data-info">
			<h3>categorias</h3>

		</div>

	</div>

	<div class="btns">
		<%= link_to "Editar", edit_article_path(@article), class: "btn btn-info" %>
	</div>
</article>
