body,
.content {
  background: #eee;
  margin: 0 0 70px 0;
}
footer {
  background: #000;
  bottom: 0px;
  color: #fff;
  height: 40px;
  padding: 20px 0 0 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
h1 {
  margin: 0;
}
header {
  background: #161673;
  color: #fff;
  padding: 10px 10px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}
header a {
  text-decoration: none;
  color: #fff;
}
header a.logo {
  float: left;
  font-size: 2.3em;
}
header a:hover,
header a:focus {
  border: none;
  color: #fff;
  text-decoration: none;
}
header ul {
  margin: 15px 0 0 0;
}
nav {
  float: left;
}
nav ul li {
  display: inline-block;
}
nav a {
  font-size: 1.3em;
  margin: 0 20px;
}
.user-controls {
  float: right;
  font-size: 1.2em;
}
.user-controls ul li {
  display: inline-block;
  margin: 0 20px;
}
.title {
  background: #fff;
  padding: 40px 0 0 0;
  width: 100%;
}
.title h2 {
  color: #555;
  font-size: 2.27em;
  margin: 0 0 0 2.5%;
  padding: 0 0 10px 0;
}
.main {
  padding: 60px 0 0 0;
  width: 100%;
}
.article {
  background: #fff;
  border: 3px solid #808080;
  border-radius: 5px;
  color: #808080;
  display: inline-block;
  margin: 2% 0 0 2.5%;
  overflow: hidden;
  width: 30%;
}
.article figure img {
  border-radius: 2px;
  height: 300px;
  margin: auto;
  width: 100%;
}
.article a {
  text-decoration: none;
  color: #808080;
}
.article h3 {
  color: #444;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0 10px;
  text-shadow: 1px 1px 2px;
}
.article p {
  margin: 0 10px;
}
.article span {
  display: inline-bock;
  color: #6e6e6e;
  margin-bottom: 15px;
  margin-top: 15px;
}
.article .data-category {
  border: 1px dotted #717171;
  border-radius: 6px;
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
}
.article .data-category a {
  padding: 0 10px;
}
.article .data-price {
  float: right;
  margin-right: 10px;
}
.article .price {
  color: #b8860b;
}
.article-details {
  background: #fff;
  border: 3px solid #808080;
  border-radius: 5px;
  color: #808080;
  display: inline-block;
  margin: 10px 20px 0px 30px;
  overflow: hidden;
  position: relative;
  width: 1100px;
}
.article-details .article-image {
  display: inline-block;
  float: left;
  margin: 20px 10px 20px 20px;
}
.article-details img {
  border-radius: 7px;
  max-height: 400px;
  max-width: 350px;
}
.article-details .article-data {
  display: inline-block;
  float: left;
  height: 100%;
  margin: 20px;
  width: 600px;
}
.article-details .article-data .data-info {
  margin: 15px 0;
}
.article-details .article-data .data-info h3 {
  margin: 0;
  color: #4a4a4a;
}
.btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.text-center {
  text-align: center;
}
.show-color {
  border: solid 1px #000;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
}
form {
  background: #fff;
  border-radius: 7px;
  margin: 10px auto;
  padding: 40px 20px;
  width: 80%;
}
.field {
  margin-top: 1.7em;
}
.form-control {
  border: none;
  border-bottom: 1px solid;
  display: block;
  font-size: 1.3em;
  outline: none;
  padding: 10px 10px;
  width: 100%;
}
.links {
  padding: 10px 0px 10px 15%;
}
.errors {
  background: #f00;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  padding: 6px 20px;
}
.notifications {
  padding: 10px 0 0 10px;
}
.plus {
  font-size: 0.7em;
  font-weight: bold;
}
