<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder:"Nombre", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.color_field :color %>
  </div>
  <div class="field">
    <%= f.submit "Guardar", class:"btn btn-success"%>
  </div>
<% end %>
