<p id="notice"><%= notice %></p>
<section class="title">
	<h2>
		Lista de categorias
		<% if user_signed_in?%>
		<%= link_to "+", new_category_path, class: "btn btn-success" %>
		<% end %>
	</h2>
</section>
<div class="col-md-12">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Color</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @categories.each do |category| %>
			<tr>
				<td><%= category.name %></td>
				<td><span class="show-color" style="background:<%= category.color %>;"></span> </td>
				<td>
					<%= link_to 'Show', category, class:"btn btn-info" %>
					<%= link_to 'Edit', edit_category_path(category) , class:"btn btn-success"%>
					<%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
