<section class="title">
	<h2>
  <%= @category.name %>
	</h2>
</section>
<section class="col-md-12">
	<% @category.articles.ordenados.each do |article|%>
	<%= render "articles/article", article: article %>
	<% end%>
</section>
