<!DOCTYPE html>
<html>
<head>
	<title>Tiendita</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<a href="/" class="logo">
			Mi tiendita
		</a>
		<nav>
			<ul>
				<li>
					<a href="/articles">Articulos</a>
				</li>
				<li>
					<a href="/categories">Categorias</a>
				</li>
			</ul>
		</nav>

		<div class="user-controls" style="">
			<ul>
				<% if user_signed_in? %>
				<li>Bienvenido <%= current_user.email %></li>
				<li>
					<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
				</li>
				<% else %>
				<li>
					<%= link_to "Iniciar sesión", new_user_session_path %>

				</li>
				<li>
					<%= link_to "registrate", new_user_registration_path %>
				</li>
				<% end%>
			</ul>
		</div>
	</header>
	<section class="main">
		<%if notice || alert %>
		<div class="notifications">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
		<%end%>

		<%= yield %>
	</section>
	<footer>
		<div class="text-center">
			Curso Ruby on Rails
		</div>
	</footer>
</body>
</html>
